<div class="justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header align-middle shadow">
          <div class="float-left" style="padding-right: 10px">
            <h3><span>Users</span></h3>
          </div>
          <div class="btn-group float-left rounded">
            <button class="btn float-right btn-primary shadow rounded" (click)="showFilter()">
              Show filters
            </button>
            <button class="btn float-right btn-danger shadow" (click)="deleteFilters()">
              Delete filters
            </button>
          </div>
          <div *appAuthority="['ADMIN']" class="btn-group float-right rounded">
            <button
              class="btn btn-primary float-right jh-create-entity create-ticket"
              (click)="addNewUser()">
              <span>Добавить пользователя</span>
            </button>
          </div>
        </div>
        <div class="card-body" style="padding: 0;">
          <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Логин</th>
              <th scope="col">LastName</th>
              <th scope="col">FirstName</th>
              <th scope="col">MiddleName</th>
              <th scope="col">URL</th>
              <th scope="col">ROLES</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let users of userList">
              <th scope="row">{{users.id}}</th>
              <td>{{users.login}}</td>
              <td>
                {{users.lastName}}
              </td>
              <td>{{users.firstName}}</td>
              <td>{{users.middleName}}</td>
              <td>{{users.url}}</td>
              <td>
                <div *ngFor="let role of users.roles">
                  <span class="shadow {{role.name|roles}}"> {{role.name|rolesName}}</span>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row justify-content-center">
            <span>{{(page - 1) * itemsPerPage + 1 + ' - ' + itemsPerPage * page}}</span>
          </div>
          <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
          </div>
        </div>
        <div>
        </div>

      </div>
    </div>
  </div>
</div>
