<div class="justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header align-middle shadow">
          <div class="float-left" style="padding-right: 10px">
            <h3><span>Users</span></h3>
          </div>
          <form class="form-inline">
            <button class="btn float-right btn-primary shadow rounded" (click)="showFilter()">
              Show filters
            </button>
            <button class="btn float-right btn-danger shadow" (click)="deleteFilters()">
              Delete filters
            </button>
          </form>
        </div>
        <div class="card-body" style="padding: 0;">
          <table class="table table-sm table-striped">
            <thead>
            <tr>
              <th class="border border-top-0 align-middle text-center">ID</th>
              <th class="border border-top-0 align-middle text-center">Логин</th>
              <th class="border border-top-0 align-middle text-center">LastName</th>
              <th class="border border-top-0 align-middle text-center">FirstName</th>
              <th class="border border-top-0 align-middle text-center">MiddleName</th>
              <th class="border border-top-0 align-middle text-center">URL</th>
              <th class="border border-top-0 align-middle text-center">ROLES</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let users of userList">
              <td class="align-middle border text-center">{{users.id}}</td>
              <td class="align-middle border text-center">{{users.login}}</td>
              <td class="align-middle border text-center">
                {{users.lastName}}
              </td>
              <td class="align-middle border text-center">{{users.firstName}}</td>
              <td class="align-middle border text-center">{{users.middleName}}</td>
              <td class="align-middle border text-center">{{users.url}}</td>
              <td class="align-middle border text-center">
                <div *ngFor="let role of users.roles">
                  <span class="shadow {{role.name|roles}}"> {{role.name|rolesName}}</span>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div>
        </div>
        <div class="row justify-content-center">
          <span>{{(page - 1) * itemsPerPage + 1 + ' - ' + itemsPerPage * page}}</span>
        </div>
        <div class="row justify-content-center">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                          [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
