<div class="justify-content-center">
  <div class="row">
    <div class="col-12" style="padding: 10px">
      <div class="card shadow mb-5 bg-white rounded">
        <div class="card-header align-middle shadow">
          <div class="float-left" style="padding-right: 10px">
            <h3><span>Статистика</span></h3>
          </div>
        </div>
        <div class="card-body shadow" style="overflow: scroll; width: 100%; padding: 0" >
          <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Ссылка</th>
              <th scope="col">Количество переходов</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let statistic of statisticList">
              <th  class="border border-top text-center" scope="row">{{statistic.id}}</th>
              <td class="border border-top text-center">{{statistic.urlDTO.origin}}</td>
              <td class="border border-top text-center">
                {{statistic.count}}
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row justify-content-center">
            <span>{{(page - 1) * itemsPerPage + 1 + ' - ' + itemsPerPage * page}}</span>
          </div>
          <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
          </div>
        </div>
        <div>
        </div>

      </div>
    </div>
  </div>
</div>
