<div class="modal-header">
  <h4 class="modal-title">Введте URL  для регистрации в системе</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          (click)="clear()">&times;
  </button>
</div>
<form name="regForm" role="form" novalidate (ngSubmit)="registry()" [formGroup]="regForm">
  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label" for="url">Введте URL  для регистрации в системе</label>
      <input type="url" class="form-control shadow-sm bg-white rounded" name="url" id="url"
             formControlName="url" autocomplete="off"/>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group float-right shadow rounded">
      <button type="button" style="border-right-color: white"
              class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
        <span >Назад</span>
      </button>
      <button id="jhi-confirm-update-transportation" type="button" style="border-left-color: white" [disabled]="regForm.invalid"
              class="btn btn-primary">
        <span >Регистрация</span>
      </button>
    </div>
  </div>
</form>
